html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(#111111 55%, #222222);
  font-weight: 400;
  font-family: Ubuntu;
}

body * {
  box-sizing: border-box;
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

main a {
  color: #3e9bcf;
  opacity: 0.8;
  font-weight: 500;
  text-decoration: none;
  transition: all 200ms ease;
  text-shadow: 0px 1px 0px black;
  user-select: none;

}

main a:hover {
  opacity: 1;
}
